[submodule "tools/bk_asset_tool"]
	path = tools/bk_asset_tool
	url = https://github.com/MittenzHugg/bk_asset_tool.git
[submodule "tools/bk_rom_compressor"]
	path = tools/bk_rom_compressor
	url = https://github.com/MittenzHugg/bk_rom_compressor.git
[submodule "tools/Torch"]
	path = tools/Torch
	url = https://github.com/HarbourMasters/Torch.git
[submodule "libultraship"]
	path = libultraship
	url = https://github.com/Kenix3/libultraship.git
